
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Righteous&family=Titillium+Web:wght@200;300&display=swap');


:root{

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height:100%;
}

body{
    background:linear-gradient(90deg,#000000,#3533cd);
    color: #FFFEFC;
}

.cadastro-logo{
margin-top: 3rem;
}

h1{
    margin-top: 3rem;
    font-family: Righteous;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cadastro-mae{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.cadastro-form{
 gap:3rem;   
}

.cadastro-input{
width: 600px;
height: 40px;
border-radius: 4px;
border: 1px solid #7B90FF;
background: rgba(244, 244, 244, 0.94);
gap:3rem;
}

.cadastro-btn{
width: 80px;
height: 40px;
border-radius: 4px;
background: #5787E6;
}

.cadastro-btn:hover{
    background: #FFFEFC;
    border: 1px solid #7B90FF;
    cursor: pointer;
}

.cadastro-input1{
width: 30px;
height: 40px;
}