/*Import de fonte*/

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Righteous&family=Titillium+Web:wght@200;300&display=swap');

/*Reset Navegador*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*padrão*/

body,html{
    width: 100%;
    height:110%;
}

body{
    background:linear-gradient(90deg,#000000,#3533cd);
    color: #0C1D40;
}

/*Desktop*/

.cadastro-logo{
margin-top: 3rem;
}

h1{
    color: #0C1D40;
    margin-top: 3rem;
    font-family: Righteous;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cadastro-mae{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.card-form{
    background:#FFFEFC;
    width:50%;
    height: 70%;
    margin-top: 3rem;
    border-radius: 10px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
    gap:1rem;
    margin-left: -25%;
}

.cadastro_label{
    position: relative;
    display: grid;
    margin-left: -57%;
    margin-top: 1rem;
}

.cadastro_label1{
    position: relative;
    display: grid;
    column-gap: 5rem;
}

.cadastro_label2{
    position: relative;
    display: grid;
    margin-left: -48%;
    margin-top: 1rem;
}

.cadastro_label3{
    position: relative;
    display: grid;
    margin-left: -50%;
    margin-top: 1rem;
}

.cadastro-form{
    margin-top: 2rem; 
    column-gap: 2rem;
}

.cadastro-input{
width: 600px;
height: 40px;
border-radius: 4px;
border: 1px solid #7B90FF;
background: rgba(244, 244, 244, 0.94);
}

.cadastro-input1{
    width: 50px;
    height: 60px;
    }
.move-btn{
    margin-bottom: 2rem;
}
.cadastro-btn{
width: 80px;
height: 40px;
border-radius: 4px;
background: linear-gradient(90deg,#000000,#3533cd);
margin-top: 4rem;
color: #FFFEFC;
border: none;
outline: none;
}

.cadastro-btn:hover{
    background:#3533cd;
    border: 1px solid #7B90FF;
    cursor: pointer;
}

/*notebooks*/

@media screen and (max-width:1280px) and (min-width:1025px){
    .cadastro-mae{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .card-form{
        width:50%;
        height: 70%;
    }
    .flex-row{
        margin-left: -22%;
    }
    
    .cadastro_label{
        margin-left: -70%;
    }
    
    .cadastro_label1{
        position: relative;
        display: grid;
        column-gap: 5rem;
        
    }
    
    .cadastro_label2{
        margin-left: -56%;
    }
    
    .cadastro_label3{
        margin-left: -59%;
    }
    
    .cadastro-form{
        margin-top: 2rem; 
        column-gap: 2rem;
    }
    
    .cadastro-input{
    width: 500px;
    height: 40px;
    }
    
    .cadastro-input1{
        width: 50px;
        height: 60px;
        }
}
/*tablet*/
@media screen and (max-width:1024px) and (min-width:768px){
    .cadastro-mae{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .card-form{
        width:70%;
        height: 70%;
    }
    .flex-row{
        margin-left: -8%;
    }
    
    .cadastro_label{
        margin-left: -64%;
    }
    
    .cadastro_label1{
        position: relative;
        display: grid;
        column-gap: 5rem;
    }
    
    .cadastro_label2{
        margin-left: -48%;
    }
    
    .cadastro_label3{
        margin-left: -51%;
    }
    
    .cadastro-form{
        margin-top: 2rem; 
        column-gap: 2rem;
    }
    
    .cadastro-input{
    width: 400px;
    height: 40px;
    }
    
    .cadastro-input1{
        width: 50px;
        height: 60px;
        }
}

/*celular medium*/
@media screen and (max-width:480px) and (min-width:361px){
    .cadastro-mae{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .card-form{
        width:90%;
        height: 70%;
    }
    .flex-row{
        margin-left: -1%;
    }
    
    .cadastro_label{
        margin-left: -64%;
    }
    
    .cadastro_label1{
        position: relative;
        display: grid;
        column-gap: 5rem;
    }
    
    .cadastro_label2{
        margin-left: -42%;
    }
    
    .cadastro_label3{
        margin-left: -48%;
    }
    
    .cadastro-form{
        margin-top: 2rem; 
        column-gap: 2rem;
    }
    
    .cadastro-input{
    width: 300px;
    height: 40px;
    }
    
    .cadastro-input1{
        width: 50px;
        height: 60px;
        }
}

/*celular small*/
@media screen and (max-width:360px) and (min-width:320px){
    .cadastro-mae{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
    }
    .card-form{
        width:90%;
        height: 70%;
    }
    .flex-row{
        margin-left: -2%;
    }
    
    .cadastro_label{
        margin-left: -64%;
    }
    
    .cadastro_label1{
        position: relative;
        display: grid;
        column-gap: 5rem;
    }
    
    .cadastro_label2{
        margin-left: -42%;
    }
    
    .cadastro_label3{
        margin-left: -48%;
    }
    
    .cadastro-form{
        margin-top: 2rem; 
        column-gap: 2rem;
    }
    
    .cadastro-input{
    width: 250px;
    height: 40px;
    }
    
    .cadastro-input1{
        width: 50px;
        height: 60px;
        }
}

